#main-container{
	position: fixed;
    top: 93px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: auto;
    padding-top: 16px;
}

.button-slide-up{

    display: block;
    width: 53px;
    margin: auto;
    border: #eae9e9 1px solid;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    border-bottom: 0px;
    cursor: pointer;
}
body .no-outline{border: 0px; outline: 0px;}
body .sidebar-fixed li .badge{background: #dedede; font-weight: 400; padding: 2px 8px; 
    color: #868686; font-size: 11px; float: right; margin-top: 2px;}
body ul.list-unstyled.lined li{margin-top:3px; padding-bottom: 3px; border-bottom: #ececec 1px solid;}
body ul.list-unstyled.lined li a{color: #333;}