#main-container{
	position: fixed;
    top: 93px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: auto;
    padding-top: 16px;
}

.button-slide-up{

    display: block;
    width: 53px;
    margin: auto;
    border: #eae9e9 1px solid;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    border-bottom: 0px;
    cursor: pointer;
}

