<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Naval Research Laboratory Geospatial Computing Section">
    <meta name="author" content="Naval Research Laboratory Geospatial Computing Section">
    <link rel="icon" href="favicon.ico">
    <title>CSW Search</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/libs/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/libs/extent/css/extenty.css" rel="stylesheet">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- open layers -->
    <link rel="stylesheet" type="text/css" href="assets/libs/openlayers/ol.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="nrlCatalog" ng-controller="mainController" id="body">

    <div style="position: fixed; background: #48b04b; top: 0px; right: 0px; bottom: 0px; left: 0px;" ng-style="{'display':'none'}"></div>

    <!-- ==== HEAD NAVBAR ==== -->
    <header id="main-navbar" class="navbar navbar-static-top navbar-inverse navbar-compact" style="background: #f8f8f8; height: 2000px;" ng-style="{'height':'41px', 'background':'#4CAF50'}" ng-cloak>
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand pointer" ng-click="loadWelcome(); $event.stopPropagation();">
                    CSW Client
                </div>
                <a href="#"  class="search-toggle" ng-click="searchBarToggle()">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
        </div>
    </header>
    <!-- / ==== HEAD NAVBAR ====  -->

    <!-- SEARCH CONSTRAINTS -->
    <div  class="search-container" ng-show="showSearch" ng-cloak>
        <div class="triangle-graphic">
            <span class="glyphicon glyphicon-triangle-top"></span>
        </div>
        <div class="container">
            <a href="#" ng-click="searchBarToggle(); $event.stopPropagation();" class="bottom-toggle" ng-show="showSearch">
                <span class="glyphicon glyphicon-chevron-up" ></span>
            </a>
            <advanced-search></advanced-search>
        </div>
    </div>
    <!-- / SEARCH CONSTRAINTS -->

    <!-- Welcome Message -->
    <welcome  ng-show="startScreen"></welcome>

    <!-- Search Results Sidebar -->
    <sidebar-template ng-show="hasData"></sidebar-template>

    <!-- Loading notification -->
    <div ng-show="loadingData" class="text-center ng-cloak" id="loading-indicator">
        <p>Loading..</p>
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width:100%"></div>
        </div>
    </div>

    <!-- ==== MAIN CONTENT ==== -->
    <div id="main" ng-hide="startScreen || loadingData">

        
        
        

        <!-- Error Message -->
        <div ng-if="hasError" class="ng-cloak">
            <h2>There was an error with your request</h2>
            <div class="alert alert-danger ng-cloak">{{errorMessage}}</div>
        </div>


        <!--Main Data-->
        
                <!-- Sort Options -->
        <div ng-show="hasData" ng-cloak>
            <p>
                <select ng-options="item as item.label for item in search.sortOptions" ng-model="search.sortOption"
                    ng-change="getFirstPage()"></select>
                <span style="display: inline-block; margin-left: 18px;"><b>{{pages.totalRecords | number}}</b> records found</span>
            </p>
        </div>

        <!-- Records -->
        <div ng-show="hasData">
            <article ng-repeat="record in curRecords" record-template index="{{$index}}" class="record"></article>
        </div>
        
            

        <!-- No records found message -->
        <div ng-if="!hasData && !hasError && !startScreen && !loadingData" class="ng-cloak row">
            <sidebar-template></sidebar-template>
            <div class="col-sm-10">
                <h2>No records found for those parameters.</h2>
            </div>
        </div>

        <!-- Pagination -->
        <pagination-template></pagination-template>

        <div class="clearfix"></div>
        <hr>

        
    </div>
    <!-- / ==== MAIN CONTENT ==== -->
    <script src="app/util/util.js"></script>
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    <script src="assets/libs/x2js/xml2json.min.js"></script>
    <script src="assets/libs/extent/js/extenty.js"></script>
    <!-- <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/libs/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="assets/libs/openlayers/ol-debug.js"></script>
    <script src="app/catalog-app.js"></script>
    <script src="app/directives/catalog-advanced-search.js"></script>
    <script src="app/directives/catalog-pagination.js"></script>
    <script src="app/util/csw-request.js"></script>

</body>
</html>