/* main elements */

body{
    background: rgb(248,248,248);
}

body .no-outline {
    border: 0px;
    outline: 0px;
    
}

#main{
    margin-top:59px;
    margin-left: 218px;
    margin-right: 18px;
    margin-bottom: 18px;
    padding: 24px;
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}



/* general */

.pointer {
    cursor: pointer;
}

.break-word,
tr.break-word td {
    word-break: break-all;
}

.badge.tag {
    border-radius: 4px;
    /* margin-right: 8px;
    margin-bottom: 8px; */
    font-weight: 400;
    color: #5d5d5d;
    background: #e0e0e0;
    transition: background-color 0.2s ease-out;
}
.record-info .badge.tag{background-color: #f1f1f1;}

.tagcloud>.tag-wrap{
    
    cursor: pointer;
}

.tag-wrap{
    padding: 3px;
    display: inline-block;
    
}

.tag-wrap>.badge.tag {
    
    padding: 5px 7px;
}

.tagcloud>.tag-wrap:hover>.badge.tag {
    background: #48b04b;
    color: #fff;
    transition: border-radius 1.5s ease-out;
}


.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:focus {
    text-decoration: none;
}

.table-auto {
    width: auto;
}

.clear-left,
.clearleft {
    clear: left;
}
.clear-right,
.clearright{
    clear:right;
}
.clear-both,
.clearboth{
    clear:both;
}

#loading-indicator {
    width: 450px;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    margin-top: 120px;
}


/* navbar */

#main-navbar{
    position: fixed;
    top:0px; 
    right: 0px;
    left: 0px;
}

.navbar {
    min-height: 22px;
    height: 41px;
    margin-bottom: 0px;
    background: #4CAF50;
    border-bottom: 0px;
}

.navbar-brand {
    height: 22px;
    padding: 1px 15px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar a.search-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 12px;
    padding: 0px 17px 0px 17px;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    border: #5ebf61 1px solid;
    border-bottom: 0px;
    border-top: 0px;
    background: none;
    line-height: 41px;
    color: white;
}

.navbar a.search-toggle:hover{
    background: #2a922e;
}

.search-container .triangle-graphic{
    position: absolute;
    top: -13px; 
    z-index: 9000;
    left: 50%;
    margin-left: -9px;
    font-size: 18px;
    color: #f8f8f8;

}


/* search */



.advanced-search-content {
    padding-bottom: 9px;
}

.advanced-search-content-filters{
    width: 682px; 
    margin: auto;
}

/* #search-bar {
    background: #f8f8f8;
    padding: 7px 15px 8px 30px;
    border-bottom: 1px solid #cacaca;
} */

h4 a.sm {
    padding: 4px 0 0 12px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar {
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-width: 0 1px 0 0;
    padding: 0px;
    border-radius: 0px;
    position: fixed;
    top:41px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    width: 200px;
    
}

.sidebar ul.sidebar-menu {
    margin: 0;
}

.sidebar ul.sidebar-menu li {
    padding: 0 0 0 18px;
    word-break: break-word;
}

.sidebar ul.sidebar-menu li:hover {
    background: #dcdcdc;
}

.sidebar ul.sidebar-menu li.active {
    color: #337ab7;
    font-weight: 700;
}

.sidebar hr {
    margin: 7px 0;
    border-top-color: #e6e6e6;
}

.sidebar-fixed {
    position: fixed;
    top: 30px;
    bottom: 0px;
    background: #eaeaea;
    border-right: 1px solid #e9e9e9;
    box-shadow: inset -6px 0px 10px -6px rgba(0, 0, 0, 0.13);
    border-right: 1px solid #dedede;
    z-index: 3100;
}

.sidebar button.default{background: #ffffff; border: 0px; border-bottom: 1px solid #e6e6e6; 
    color: black; display: block; margin: 0px; 
    padding: 16px 9px; width: 199px; text-align: left;
}

.sidebar h5{padding: 0px 12px;}
.sidebar .extenty-wrap{
    padding: 3px; 
    background: deeppink;
    margin: auto;
    width: 106px; 
}
.sidebar button.default:hover{
    background: #d8d8d8;
    border-color: #d8d8d8;
}
.sidebar button .glyphicon{margin-right: 8px;}

.search-container {
    overflow: visible;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26);
    z-index: 3000;


    background: #ffffff;
    padding: 7px 15px 8px 30px;
    border-bottom: 1px solid #cacaca;
    position: fixed;
    top:41px;
    right: 0px;
    left: 0px;
    transition: transform 0.2s ease-in-out;
    transform: scaleY(1);
    transform-origin: top;
    /* max-height: 1000px; */

    
}



.search-container.ng-hide{
    /* top: -1000px; */
    transform: scaleY(0);
    /* height: 0; */
    /* max-height: 0; */
}

.form-inline.advanced-filter {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 3px;
}

.advanced-filter.first {
    border-top: 1px solid #e0e0e0;
}

.coord-input {
    float: left;
    width: 115px;
    padding-left: 2px;
    margin-top: 12px;
    padding-right: 7px;
}

.coord-input label {
    margin-bottom: 0px;
}

.coord-input input {
    max-width: 100%;
}

/* Buttons */
.btn-primary{
    color: #fff;
    background-color: #48b04b;
    border-color: #358838;
}
.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #59ca5c;
    border-color: #48b04b;
}
.btn.left-icon .glyphicon{
    padding-right: 13px;
    font-size: 13px;
    color: #636363;
}

.btn.left-icon .vr{
    width: 1px;
    height: 32px;
    background: #dfdfdf;
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 0px;
}

.btn.left-icon:active .vr, .btn.left-icon:focus .vr, .btn.left-icon:hover .vr{
    background: #a5a5a5;
}

a.black{color: #606060;}

body .extenty-box{
    background: rgba(255, 34, 34, 0.1);
}

.extent-wrapper{
    position: relative;
    min-height: 83px;
}
.extent-wrapper .record-thumbnail{
    position: absolute; 
    top: -20px;
    right: 28px;
}

.map {
    border: 2px solid #a2a2a2;
    margin-bottom: 0px;
    /* max-width: 512px; */
}
.map.cross-hair:hover{cursor: crosshair;}
.map.grab:hover{cursor: -webkit-grab;}
#adv-search-map{
    margin-bottom: 6px;
}

.map-edit-button{
    top:63px;
    left: 7px;
}

.map-pan-button{ 
    top: 96px;
    left: 7px;
}



.map.cross-hair .map-edit-button button,
.map.grab .map-pan-button button
    {background-color: rgba(0,60,136,.7);}

body .ol-mouse-position{
    top: unset;
    right: 0px;
    position: absolute;
    bottom: 0px;
    background: #3c6ea88c;
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
}

.button-slide-up {
    display: block;
    width: 53px;
    margin: auto;
    border: #eae9e9 1px solid;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    border-bottom: 0px;
    cursor: pointer;
}


/* records */

tr.record-table td {
    min-width: 100px;
}

.record-info {
    padding-right: 120px;
}

.record-thumbnail {
    min-width: 1px;
}
.record-thumbnail .edit-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1px 3px 0px 4px;
    background: #ffffffa8;
    box-shadow: #000 0px 0px 3px;
}
.record-thumbnail:hover .edit-icon{
    background: #ffffff;
}
.record-thumbnail .edit-icon .glyphicon{
    color: #292929;
    font-size: 12px;
}

.glyphicon.dark{color: #636363;}
.remove-button-wrapper{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 18px;
    border: 1px solid #ececec;
    border-top: 0px;
    border-bottom: 0px;
}
.remove-button {
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -6px;
    font-size: 9px;
}

.remove-button a {
    color: #adadad;
}

.remove-button-wrapper:hover{
    background: #efefef;
}
.remove-button-wrapper:hover .remove-button a{
    color: #2f79b9;
}

label.highlight {
    color: #337ab7;
    font-weight: 400;
    font-style: italic;
    padding: 1px 0px;
}

.map-thumbnail {
    width: 250px;
    height: 125px;
}


/* sidebar */

body .sidebar-fixed li .badge {
    background: #f3f3f3;
    font-weight: 400;
    padding: 2px 8px;
    color: #868686;
    font-size: 11px;
    float: right;
    margin-top: 2px;
}

a.left-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 17px 1px;
    top: 50%;
    margin-top: -25px;
    left: 0px;
    border: #dcdcdc 1px solid;
    border-left: 0px;
    background: #e4e4e4;
}

a.bottom-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 0px 17px;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    border: #e2e2e2 1px solid;
    border-bottom: 0px;
    background: none;
    line-height: 22px;
}

a.left-toggle:hover,
a.bottom-toggle:hover {
    color: #2f79b9;
    background: #efefef;
}

.collapsed a.bottom-toggle{
    top: 0px;
    border-top: 0px;
    background: none;
    border-color: #eaeaea;
    line-height: 58px;
}

.search-container.collapsed:hover{background: #f2f2f2; cursor: pointer;}
.search-container.collapsed:hover a.bottom-toggle{
    
    color: #2f79b9;
    /* background: #eaeaea; */
    border-color:#e2e2e2;
}


/* text formatting */

body ul.list-unstyled.lined li {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: #ececec 1px solid;
}

body ul.list-unstyled.lined li a {
    color: #333;
}

body .link {
    color: #337ab7;
    cursor: pointer;
}

body .link:hover {
    text-decoration: underline;
}

a.details .glyphicon{font-size: 11px; color: #6b6b6b;}

body .refine-clear {
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
}


.full-width-content{margin-top: 41px; padding-top: 24px;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }