/* main elements */

body {
    background: rgb(248, 248, 248);
}

body .no-outline {
    border: 0px;
    outline: 0px;

}

#main {
    margin-top: 81px;
    margin-left: 218px;
    margin-right: 18px;
    margin-bottom: 18px;
    padding: 24px;
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

/* general */
.pointer {
    cursor: pointer;
}

.break-word,
tr.break-word td {
    word-break: break-all;
}

.badge.tag {
    border-radius: 2px;
    font-weight: 400;
    color: #5d5d5d;
    background: #ffffff;
    transition: background-color 0.2s ease-out;
    border: 1px solid #e0e0e0;

}

.record-info .badge.tag {
    /* background-color: #f1f1f1; */
}

.record-tags {}

.tagcloud>.tag-wrap {
    cursor: pointer;
}

.tag-wrap {
    padding: 3px;
    display: inline-block;
}

.tag-wrap>.badge.tag {
    padding: 5px 7px;
}

.tagcloud>.tag-wrap:hover>.badge.tag {
    background: #48b04b;
    color: #fff;
    transition: border-radius 1.5s ease-out;
}

.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:focus {
    text-decoration: none;
}

.table-auto {
    width: auto;
}

.table-striped {
    border: 1px solid #ececec;
}

.table-striped td {
    min-width: 112px;
}

.clear-left,
.clearleft {
    clear: left;
}

.clear-right,
.clearright {
    clear: right;
}

.clear-both,
.clearboth {
    clear: both;
}

#loading-indicator {
    /* width: 450px; */
    /* margin: auto; */
    font-weight: 300;
    font-size: 18px;
    /* margin-top: 120px; */
    position: fixed;
    top: 42px;
    left: 0;
    right: 0;
}

#loading-indicator .progress {
    border-radius: 0px;
    height: 10px;
}

/* navbar */
#main-navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.navbar {
    min-height: 22px;
    height: 41px;
    margin-bottom: 0px;
    background: #4CAF50;
    border-bottom: 0px;
}

.navbar.active {
    box-shadow: 0px -5px 5px #0000001f inset;
}

.navbar-brand {
    height: 22px;
    padding: 1px 15px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}

.navbar-inverse .navbar-brand:hover {
    text-shadow: #00170178 0px 0px 16px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar a.search-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 12px;
    padding: 0px 17px 0px 17px;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    border: #5ebf61 1px solid;
    border-bottom: 0px;
    border-top: 0px;
    background: none;
    line-height: 41px;
    color: white;
}

.navbar a.search-toggle:hover {
    background: #2a922e;
}

.navbar a.search-toggle img.bottom-arrow {
    position: absolute;
    bottom: 0;
    width: 13px;
    height: auto;
    display: none;
}

.navbar.active a.search-toggle img.bottom-arrow {
    display: block;
}

.search-container .triangle-graphic {
    position: absolute;
    top: -13px;
    z-index: 9000;
    left: 50%;
    margin-left: -9px;
    font-size: 18px;
    color: #ffffff;

}

/* search */
.advanced-search-content {
    padding-bottom: 9px;
}

.advanced-search-content-filters {
    width: 682px;
    margin: auto;
}

.autocomplete-item {
    position: relative;
}


ul.autocomplete-list {
    position: absolute;
    z-index: 9999;
    top: 31px;
    min-width: 172px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid #cccccc;
    border-bottom: 0px;
    /* display: none; */
    max-height: 400px;
    overflow: auto;

}

ul.autocomplete-list li {
    background: #f1f1f1;
    padding: 2px 6px;
    border-bottom: 1px solid #cccccc;
    font-size: 13px;
    cursor: pointer;
}

ul.autocomplete-list li:hover {
    background: #e0e0e0;
}

h4 a.sm {
    padding: 4px 0 0 12px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar {
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-width: 0 1px 0 0;
    padding: 0px;
    border-radius: 0px;
    position: fixed;
    top: 41px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    width: 200px;
}

.sidebar ul.sidebar-menu {
    margin: 0;
}

.sidebar ul.sidebar-menu li {
    padding: 0 0 0 18px;
    word-break: break-word;
}

.sidebar ul.sidebar-menu li:hover {
    background: #dcdcdc;
}

.sidebar ul.sidebar-menu li.active {
    color: #337ab7;
    font-weight: 700;
}

.sidebar hr {
    margin: 7px 0;
    border-top-color: #e6e6e6;
}

.sidebar-fixed {
    position: fixed;
    top: 30px;
    bottom: 0px;
    background: #eaeaea;
    border-right: 1px solid #e9e9e9;
    box-shadow: inset -6px 0px 10px -6px rgba(0, 0, 0, 0.13);
    border-right: 1px solid #dedede;
    z-index: 3100;
}

.sidebar button.default {
    background: #ffffff;
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
    color: black;
    display: block;
    margin: 0px;
    padding: 16px 9px;
    width: 199px;
    text-align: left;
}

.sidebar h5 {
    padding: 0px 12px;
}

.sidebar .extenty-wrap {
    padding: 3px;
    background: deeppink;
    margin: auto;
    width: 106px;
}

.sidebar button.default:hover {
    background: #d8d8d8;
    border-color: #d8d8d8;
}

.sidebar button .glyphicon {
    margin-right: 8px;
}

.search-container {
    overflow: visible;
    /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.26); */
    box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.26);
    z-index: 3000;
    background: #ffffff;
    padding: 7px 15px 8px 30px;
    border-bottom: 1px solid #cacaca;
    position: fixed;
    top: 41px;
    right: 0px;
    left: 0px;
    transition: transform 0.2s ease-in-out;
    transform: scaleY(1);
    transform-origin: top;
}

.search-container.ng-hide {
    transform: scaleY(0);
}

.form-inline.advanced-filter {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 3px;
}

.advanced-filter.first {
    border-top: 1px solid #e0e0e0;
}

.coord-input {
    float: left;
    width: 115px;
    padding-left: 2px;
    margin-top: 12px;
    padding-right: 7px;
}

.coord-input label {
    margin-bottom: 0px;
}

.coord-input input {
    max-width: 100%;
}

/* Buttons */
.btn-primary {
    color: #fff;
    background-color: #48b04b;
    border-color: #358838;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #59ca5c;
    border-color: #48b04b;
}

.btn.left-icon .glyphicon {
    padding-right: 13px;
    font-size: 13px;
    color: #636363;
}

.btn.left-icon .vr {
    width: 1px;
    height: 32px;
    background: #dfdfdf;
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 0px;
}

.btn.left-icon:active .vr,
.btn.left-icon:focus .vr,
.btn.left-icon:hover .vr {
    background: #a5a5a5;
}

.btn.btn-blank{
    padding: 6px 0;
    border: 0px; 
    outline: 0px;
    background: none;
}
.btn.btn-blank:hover{background: none; color: #2196f3;}
.btn.btn-blank:focus, .btn.btn-blank:active{background: none; border: 0px; outline: 0px; box-shadow: none;}
.btn.btn-blank .glyphicon{ font-size: 12px; top: 0; padding-right: 3px;}

a.black {
    color: #606060;
}

body .extenty-box {
    background: rgba(255, 34, 34, 0.1);
}

.extenty {
    background: url("../libs/extent/img/map-blue-white.png");
    background-size: 100px 100px;
    width: 106px;
    height: 106px;
    border: 3px solid #e0e0e0;
}

.extenty.sm {
    background: url("../libs/extent/img/map-blue-white.png");
    background-size: 69px 69px;
    width: 75px;
    height: 75px;
    border: 3px solid #e0e0e0;
}

.extent-wrapper {
    position: relative;
    min-height: 83px;
}

.extent-wrapper .record-thumbnail {
    position: absolute;
    top: -32px;
    right: 28px;
}

.map {
    border: 2px solid #a2a2a2;
    margin-bottom: 0px;
}

.map.cross-hair:hover {
    cursor: crosshair;
}

.map.grab:hover {
    cursor: -webkit-grab;
}

#adv-search-map {
    margin-bottom: 6px;
}

.map-edit-button {
    top: 63px;
    left: 7px;
}

.map-pan-button {
    top: 96px;
    left: 7px;
}

.map.cross-hair .map-edit-button button,
.map.grab .map-pan-button button {
    background-color: rgba(0, 60, 136, .7);
}

body .ol-mouse-position {
    top: unset;
    right: 0px;
    position: absolute;
    bottom: 0px;
    background: #3c6ea88c;
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
}

.button-slide-up {
    display: block;
    width: 53px;
    margin: auto;
    border: #eae9e9 1px solid;
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    border-bottom: 0px;
    cursor: pointer;
}

/* records */
.records-header {
    margin: -24px -24px 0 -24px;
    background: #ffffff;
    padding: 5px 22px;
    border-bottom: solid 1px #eaeaea;
    min-height: 28px;
    color: #656565;
}

.records-progress-container {
    height: 800px;
}

.records-progress {
    border-radius: 0px;
    margin: 0px;
    display: block;
    margin-left: -24px;
    margin-right: -24px;
    height: 8px;
}

tr.record-table td {
    min-width: 100px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ececec;
}

.record {
    margin-top: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    position: relative;
}

.record p {
    margin-bottom: 7px;
}

.record .tag-wrap {
    
    padding: 0 6px 9px 0;
}

.record .record-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.record-info {
    float: left;
    padding-left: 18px;
    margin-left: 74px;
    min-height: 88px;
}

.record-info h3 {
    margin: 0 0 7px 0;
    font-size: 18px;
}

.record-thumbnail {
    min-width: 1px;
}

.record-thumbnail .edit-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1px 3px 0px 4px;
    background: #ffffffa8;
    box-shadow: #000 0px 0px 3px;
}

.record-thumbnail:hover .edit-icon {
    background: #ffffff;
}

.record-thumbnail .edit-icon .glyphicon {
    color: #292929;
    font-size: 12px;
}

.record .toolbar{
    margin-bottom: 9px;
}

.record .toolbar a{cursor: pointer; padding: 3px 12px; margin-right: 9px; border-radius: 2px;}
.record .toolbar a:hover, .record .toolbar a.active{background: #ececec; color: #656565;}

.glyphicon.dark {
    color: #636363;
}

.code-icon{
    width: 20px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/code-icon.png);
    background-size: 20px 20px;
    background-position-y: 0px;
}

.remove-button-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 18px;
    border: 1px solid #ececec;
    border-top: 0px;
    border-bottom: 0px;
}

.remove-button {
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -6px;
    font-size: 9px;
}

.remove-button a {
    color: #adadad;
}

.remove-button-wrapper:hover {
    background: #efefef;
}

.remove-button-wrapper:hover .remove-button a {
    color: #2f79b9;
}

label.highlight {
    color: #337ab7;
    font-weight: 400;
    font-style: italic;
    padding: 1px 0px;
}

.map-thumbnail {
    width: 250px;
    height: 125px;
}


/* sidebar */

body .sidebar-fixed li .badge {
    background: #f3f3f3;
    font-weight: 400;
    padding: 2px 8px;
    color: #868686;
    font-size: 11px;
    float: right;
    margin-top: 2px;
}

a.left-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 17px 1px;
    top: 50%;
    margin-top: -25px;
    left: 0px;
    border: #dcdcdc 1px solid;
    border-left: 0px;
    background: #e4e4e4;
}

a.bottom-toggle {
    display: block;
    color: #adadad;
    position: absolute;
    font-size: 11px;
    padding: 0px 17px;
    left: 50%;
    margin-left: -25px;
    bottom: 0px;
    border: #e2e2e2 1px solid;
    border-bottom: 0px;
    background: none;
    line-height: 22px;
}

a.left-toggle:hover,
a.bottom-toggle:hover {
    color: #2f79b9;
    background: #efefef;
}

.collapsed a.bottom-toggle {
    top: 0px;
    border-top: 0px;
    background: none;
    border-color: #eaeaea;
    line-height: 58px;
}

.search-container.collapsed:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.search-container.collapsed:hover a.bottom-toggle {
    color: #2f79b9;
    border-color: #e2e2e2;
}

/* text formatting */
body ul.list-unstyled.lined li {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: #ececec 1px solid;
}

body ul.list-unstyled.lined li a {
    color: #333;
}

body .link {
    color: #337ab7;
    cursor: pointer;
}

body .link:hover {
    text-decoration: underline;
}

a.details .glyphicon {
    font-size: 11px;
    color: #6b6b6b;
}

body .refine-clear {
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
}

.full-width-content {
    margin-top: 41px;
    padding-top: 24px;
}

.xl-input-container {
    position: relative;
    display: block;
    width: 100%;
}

.xl-input-submit {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: 0px;
    height: 40px;
    color: #9a9a9d;
    width: 35px;
    font-size: 20px;
    padding-top: 21px;
}

.xl-input-submit:focus {}

input.xl {
    background: none;
    border: 0px;
    border-bottom: 1px solid #9b9b9b;
    width: 100%;
    display: block;
    font-size: 27px;
    margin: 51px 0 36px 0;
    padding: 12px 8px 0 8px;
}

input.xl:focus {
    outline: 0px;
    border-bottom: 3px solid #9b9b9b;
    margin-bottom: 34px;
    background: #efefef;
}

/* input.xl::placeholder, input.xl:-ms-input-placeholder, input.xl::-ms-input-placeholder,  */

input.xl::-ms-input-placeholder {
    font-style: italic;
    color: rgb(168, 168, 168);
}

input.xl::-moz-placeholder {
    font-style: italic;
    color: rgb(168, 168, 168);
}

input.xl::-webkit-input-placeholder {
    font-style: italic;
    color: rgb(168, 168, 168);
}

/* ::-webkit-input-placeholder {
    color: orange;
  } */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

#main-toolbar {
    position: fixed;
    top: 41px;
    left: 200px;
    right: 0px;
    background: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
    font-size: 13px;
    padding: 0px 27px;

}

#main-toolbar .pagination {
    margin: 0px;
}

.toolbar .glyphicon {
    font-size: 10px;
    top: 0px;
    color: #9c9c9c;
}

.toolbar-item {}

.toolbar-item label {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    color: #616161;
}

.toolbar-item.pull-right {
    margin-left: 18px;
}

.toolbar-item.pull-left {
    margin-right: 18px;
}

.toolbar .select-wrap {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    display: inline-block;
    padding: 1px 0;
}

.toolbar .select-wrap select {
    border: none;
}

.toolbar .select-wrap select {
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearrance: none;
    appearance: none;
    padding-right: 12px;
    background-color: #f8f8f8;
    background-image: url(../img/drop-down-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8px;
    margin: 0 8px;
    
}
select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearrance: none;
    appearance: none;
    background-image: url(../img/drop-down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 9px center;
    background-size: 8px;
    

}

select.form-control:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}



.toolbar .select-wrap select::-ms-expand{
    display:none;

}

.toolbar .select-wrap select:focus{outline: 0;}

.toolbar-buttons {}

.toolbar-buttons .toolbar-button {
    border-left: #d8d8d8 1px solid;
    border-right: none;
}

.toolbar-buttons .toolbar-button:last-child {
    border-right: #d8d8d8 1px solid;
}

.toolbar-button {
    display: inline-block;
    padding: 1px 4px;
    border-right: #d8d8d8 1px solid;
    border-left: #d8d8d8 1px solid;
    color: #333333;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    cursor: default;
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}

.pagination>li>a,
.pagination>li>span {
    font-size: 12px;
    padding: 1px 6px;
    color: #5c5c5c;
    background-color: #f8f8f8;
}