<header class="navbar navbar-static-top navbar-inverse navbar-compact" >
   <div class="container-fluid">
      <div class="navbar-header">     
        <div class="navbar-brand">
          <a href="#" class="logo-container"><img src="../img/logo-xs.png"></a>
          <div class="title">
            <a class="title-link" href="#"><div class="title-top">7442 - Geospatial Computing Section</div></a>
          </div>
        </div>
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button" ng-click="showNavbar = !showNavbar"> <span class="sr-only">Toggle navigation</span> <span class="glyphicon glyphicon-menu-hamburger" ng-hide="showNavbar"></span><span class="glyphicon glyphicon-chevron-up" ng-show="showNavbar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse" id="bs-navbar">
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#">HOME</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">ABOUT US  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./facilities.php">Facilities</a></li>
                <li><a href="./jobs.php">Job Opportunities</a></li>
                <li><a href="contact.php">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">WEB SERVICES  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./nrlTileServer.php">NRL Tile Server</a></li>
                <li><a href="./drgExplorer.php">DRG Explorer</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">SOFTWARE PROJECTS  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="./nrlTileServerSf.php">NRL Tile Server</a></li>
                <li><a href="./ghub.php">GHub</a></li>
                <li><a href="./gidbThickClient.php">GIDB</a></li>
              </ul>
            </li>
            <li><a href="#">GEOSPATIAL DATA</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">ACCOMPLISHMENTS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="./publications.php">Publications</a></li>
                <li><a href="./patents.php">Patents</a></li>
              </ul>
            </li>




         </ul>
      </nav>
   </div>

</header>