<div class="pull-right toolbar-item toolbar-buttons" style="margin-left: 18px;" ng-show="pages.totalPages > 1">
    <a href="#" ng-click="getPrevPage()" ng-if="pages.curPage > 1" class="toolbar-button">
        <div class="icon icon-arrow-left icon-left lt-grey"></div>
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        Previous
    </a>
    <a href="#" ng-click="getNextPage()" ng-if="pages.curPage < pages.totalPages" class="toolbar-button">
        Next
        <div class="icon icon-arrow-right icon-right lt-grey"></div>
        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
    </a>
</div>

<div class="pull-right toolbar-item" style="margin-left: 18px;" ng-show="pages.totalPages > 1">
    <label>Page <b>{{pages.curPage}}</b> of <b>{{pages.totalPages}}</b></label>
</div>

<div class="pull-right toolbar-item" ng-show="pages.totalPages > 1">
    <label>Go to page: </label>
    <div class="select-wrap">
        <select ng-options="p for p in getAllPageNumbers()" ng-model="goToPageModel" ng-change="goToPage(goToPageModel)"></select>
    </div>
</div>

<div class="pull-right toolbar-item">
    
        <label>Show records: </label>
        <div class="select-wrap">
            <select ng-model="pages.recordsPerPage" class="" ng-change="updatePages()" ng-options="item.value for item in recordsPerPageOptions"></select>
        </div>

</div>