<div class="extenty sm record-thumbnail">
    <div class="extenty-box" ng-style="boxStyle"></div>
</div>

<div class="record-info">
    <h3>{{record.title}}</h3>
    <p>{{record.abstract}}</p>
    <div class="record-tags">
        <div class="tag-wrap" ng-repeat="tag in record.keywords track by $index"><span class="small badge tag">{{tag}}</span></div>
    </div>

    <div class="toolbar">
        <a ng-click="toggleViewAll()" class="no-underline details" ng-class="viewAll ? 'active' : 'incactive'">
            <div class="icon icon-content icon-left lt-grey"></div>
            Full record
        </a>
    
        <a class="no-underline details" ng-click="requestRecord(record); toggleViewXml();"  ng-class="viewXml ? 'active' : 'incactive'">
            <div class="icon icon-code icon-left lt-grey"></div>
            XML
        </a>

        <a class="no-underline details" ng-click="toggleViewImage();"  ng-class="viewImage ? 'active' : 'incactive'" ng-if="record.hasThumbnail">
            <div class="icon icon-photo icon-left lt-grey"></div>
            Preview
        </a>
    </div>

</div>
<div class="clearfix"></div>

<div ng-if="viewImage" class="record-preview">
    <img src="assets/img/loading-grey-grey.gif" ng-hide="thumbnailLoaded" class="loading-icon"/>
    <img ng-src="{{record.thumbnail}}"  imageonload class="thumb" ng-style="{'background-color':thumbBg}"/>
    <div class="color-select">
        <div class="color-button" ng-click="toggleColorSelect()">
            <div class="icon icon-paint lt-grey" style="margin-left: 2px;"></div>
        </div>

        <div class="colors" ng-show="showColorSelect">
            <div class="c1">
                <div class="color" ng-repeat="c in colors1" ng-style="{'background-color':c}" ng-click="setThumbBg(c)"
                    ng-mouseover="setHoverBg(c)" ng-mouseleave="setHoverOut()"></div>

            </div>
            <div class="c2">
                <div class="color" ng-repeat="c in colors2" ng-style="{'background-color':c}" ng-click="setThumbBg(c)"
                     ng-mouseover="setHoverBg(c)" ng-mouseleave="setHoverOut()"></div>
            </div>

        </div>
    </div>
</div>

<div ng-if="viewXml">
    <pre lang="xml"><img src="assets/img/loading-grey-grey.gif" ng-hide="record.xmlLoaded" class="loading-icon"/>{{record.xml}}</pre>
</div>

<div ng-if="viewAll">
    <table class="table table-striped table-auto">
        <tr ng-if="record.title != null">
            <td>Title</td>
            <td>
                {{record.title}}
            </td>
        </tr>

        <tr ng-if="record.identifier != null">
            <td>Identifier</td>
            <td>
                {{record.identifier}}
            </td>
        </tr>

        <tr ng-if="record.abstract != null">
            <td>Abstract</td>
            <td>
                {{record.abstract}}
            </td>
        </tr>
        
        <tr ng-if="record.upperCorner != null && record.lowerCorner != null">
            <td>Bounding Box</td>
            <td>
                <table>
                    <tr ng-if="record.upperCorner != null">
                        <td>Upper corner: </td>
                        <td>
                            {{record.upperCorner}}
                        </td>
                    </tr>
                    <tr ng-if="record.lowerCorner != null">
                        <td>Lower corner: </td>
                        <td>
                            {{record.lowerCorner}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr ng-if="record.keywords != null">
            <td>Subjects</td>
            <td>
                <span ng-repeat="k in record.keywords">{{k}}, </span>
            </td>
        </tr>

    

        <tr ng-repeat="i in record.info" ng-switch="i[0]" class="break-word record-table">
            <td>{{i[0]}}</td>
            <td ng-switch-when="References">
                <ul style="margin: 0px; padding-left: 15px;">
                    <li ng-repeat="ref in i[1].split(',')"><a href="{{ref}}">{{ref}}</a></li>
                </ul>
            </td>
            <td ng-switch-when="Source">
                <a href="{{i[1]}}">{{i[1]}}</a>
            </td>
            <td ng-switch-default>
                {{i[1]}}
            </td>
        </tr>
    </table>
</div>
