<section ng-show="showSearch" id="advanced-search">
    

    <div class="advanced-search-content">

        <!-- MAP -->
        <div ng-show="extentSelectVisibility">
            <p style="padding-top:7px;" class="pull-right"><label class="small highlight">Click and drag to select extent on map, or Cancel and enter values manually</label></p>
                
            <div class="" style="min-height: 43px;">    
                <button class="btn btn-primary" ng-click="updateExtentFields()">Apply</button>
                <button class="btn btn-default" ng-click="hideExtentSelector()">Cancel</button>
            </div>
            
            
            <div class="clearboth"></div>
            <div id="adv-search-map" class="map" style="height: 480px;" ng-class="mapClass"></div>
        </div>


        <div ng-hide="extentSelectVisibility" style="width: 680px;" class="advanced-search-content-filters">
        <!-- <div style="width: 100%; padding-right: 531px;" > -->
            <form id="advanced-search" name="advanced-search" novalidate>
                <h4>CSW Search Constraints</h4>
                <div ng-repeat="f in search.filters" class="form-inline advanced-filter" ng-class="{first:$first}">

                    <select ng-model="f.type" ng-options="o.label for o in f.types" ng-change="extentStatus(f)" class="form-control">
                    </select>

                    <!-- Filter Type Select ============================================================================================ -->
                    <!-- if no extent filter exists yet -->
                    <!-- <select ng-model="f.type" ng-options="o.label for o in f.types" ng-change="extentStatus(f)" 
                        ng-if="!search.hasExtent || f.type.label == 'Bounding Box'">
                    </select> -->

                    <!--if extent filter exists, filter extent option out -->
                    <!-- <select ng-model="f.type" ng-options="o.label for o in f.types | filter:{label :'!Bounding Box'}" ng-change="search.setHasExtent()"
                        ng-if="search.hasExtent && f.type.label != 'Bounding Box'">
                    </select> -->

                    <!-- Filter Constraint Options (by type)  ============================================================================================ -->

                    <!--Title and Abstract constraint-->
                    <div ng-if="f.type.id == 'title' || f.type.id == 'abstract'" class="form-group">
                        <select ng-model="f.constraint" ng-options="o.label for o in f.constraints track by o.id"  class="form-control"></select>
                        <input placeholder="Search term" ng-model="f.term" class="form-control">
                    </div>

                    <!--AnyText or type constraints-->
                    <!-- <div ng-if="f.type.id != 'extent' && f.type.id != 'abstract' && f.type.id != 'title'" class="form-group"> -->
                    <div ng-if="f.type.id =='AnyText' || f.type.id == 'type'" class="form-group">
                        <input placeholder="Search term" ng-model="f.term" class="form-control">
                    </div>

                    <!-- Keyword constraint -->
                    <div ng-if="f.type.id =='subject'" class="form-group autocomplete-item">
                        <input placeholder="Search term" ng-model="f.term" class="form-control" ng-keyup="autoComplete(f)" 
                            ng-focus="f.hasFocus = true;" ng-blur="f.hasFocus = false;">
                        <ul class="autocomplete-list" ng-show="f.hasFocus">
                            <li ng-repeat="t in f.autoTerms" ng-mousedown="fillAutoComplete(f, t)">{{t}}</li></ul>
                    </div>


                    

                    <!--Extent constraints-->
                    <select ng-if="f.type.id == 'extent'" ng-model="f.extentConstraint" ng-options="o.label for o in f.extentConstraints" class="form-control"></select>
                    <div ng-if="f.type.id == 'extent'" class="extent-wrapper">
                        <!-- <label class="small highlight" ng-if="f.type.id == 'extent'">Hold "Shift" to select extent on map, or enter values below</label> -->
                        <div class="clear-left"></div>
                        <div class="coord-input"><label class="small">min Long</label><input type="number" ng-model="search.filters[$index].extent[0]"
                                ng-change="updateExtent(f)" id="min-long"></div>
                        <div class="coord-input"><label class="small">min Lat</label><input type="number" ng-model="search.filters[$index].extent[1]"
                                ng-change="updateExtent(f)" id="min-lat"></div>
                        <div class="coord-input"><label class="small">max Long</label><input type="number" ng-model="search.filters[$index].extent[2]"
                                ng-change="updateExtent(f)" id="max-long"></div>
                        <div class="coord-input"><label class="small">max Lat</label><input type="number" ng-model="search.filters[$index].extent[3]"
                                ng-change="updateExtent(f)" id="max-lat"></div>

                        <div class="extenty record-thumbnail pointer" ng-click="loadExtentSelector(f)">
                            <!--<div class="extenty-box" ng-style="f.extentyStyle[0]"></div>-->
                            <!--<div class="extenty-box" ng-style="f.extentyStyle[1]"></div>-->

                            <div class="extenty-box" ng-repeat="style in f.extentyStyle" ng-style="style"></div>


                            <div class="edit-icon"><span class="glyphicon glyphicon-pencil"></span></div>
                        </div>
                        
                        <a href="#" class="" style="margin:36px 0 0 2px; display: inline-block;" ng-click="clearExtent(f)" ng-hide="search.extent.extent == getDefaultExtent()">clear</a>
                        <div class="clear-left"></div>
                    </div>

                    <!--Button to remove filters-->
                    <div class="remove-button-wrapper pointer" ng-click="search.removeFilter($index)" ng-if="search.filters.length > 1">
                        <div class="remove-button">
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                    
                </div>
                <!-- Button to add filters -->
                <div class="form-inline advanced-filter">
                    <!-- <a href="#" ng-click="search.addFilter()"><span class="glyphicon glyphicon-plus dark"></span> Add constraint</a> -->
                    <!-- <hr> -->
                    <div class="btn-group" ng-class="constraintSelect ? 'open' : 'closed' ">
                            <!-- <div ng-class=" $variableToEvaluate ? 'class-if-true' : 'class-if-false' "> -->
                        <!-- <button type="button" class="btn btn-default dropdown-toggle left-icon" ng-click="constraintSelect = !constraintSelect">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="vr"></span> 
                            Add Constraint 
                            <span class="caret"></span>
                        </button> -->
                        <button type="button" class="btn btn-blank" ng-click="constraintSelect = !constraintSelect">
                            <span class="glyphicon glyphicon-plus"></span>
                            <!-- <span class="vr"></span>  -->
                            Add Constraint 
                            <!-- <span class="caret"></span> -->
                        </button>
                        <ul class="dropdown-menu">
                            
                            <li ng-click="addFilter('title',''); constraintSelect = false;"><a class="pointer">Title</a></li>
                            <li ng-click="addFilter('AnyText',''); constraintSelect = false;"><a class="pointer">Any</a></li>
                            <li ng-click="addFilter('abstract',''); constraintSelect = false"><a class="pointer">Abstract</a></li>
                            <li ng-click="addFilter('subject',''); constraintSelect = false;"><a class="pointer">Keyword</a></li>
                            <li ng-click="toggleExtentFilter(); constraintSelect = false;"><a class="pointer">Bounding Box</a></li>
                            <li ng-click="addFilter('type',''); constraintSelect = false;"><a class="pointer">Type</a></li>

                        </ul>
                    </div>
                </div>

                <div style="margin-top:12px;">
                    <button class="btn btn-primary" ng-click="submitSearch()">Search</button>
                    <a href="#" class="sm black" style="padding: 4px 0 0 12px;" ng-click="search.clear()">Reset</a>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</section>