<section ng-show="showAdvancedSearch" id="advanced-search">
    <div ng-show="minimizeAdvanced">
        <h4>Advanced Search <a href="#" class="sm" ng-click="showAdvancedSearch = !showAdvancedSearch">Basic Search</a></h4>
    </div>

    <div class="advanced-search-content" ng-hide="minimizeAdvanced">

        <!-- MAP -->
        <div ng-show="extentSelectVisibility">
            <p style="padding-top:7px;" class="pull-right"><label class="small highlight">Click and drag to select extent on map, or Cancel and enter values manually</label></p>
                
            <div class="" style="min-height: 43px;">    
                <button class="btn btn-primary" ng-click="updateExtentFields()">Apply</button>
                <button class="btn btn-default" ng-click="hideExtentSelector()">Cancel</button>
            </div>
            
            
            <div class="clearboth"></div>
            <div id="adv-search-map" class="map" style="height: 480px;" ng-class="mapClass"></div>
        </div>


        <div ng-hide="extentSelectVisibility" style="width: 680px;">
        <!-- <div style="width: 100%; padding-right: 531px;" > -->
            <form id="advanced-search" name="advanced-search" novalidate>
                <h4>Advanced Search <a href="#" class="sm" ng-click="showAdvancedSearch = !showAdvancedSearch">Basic Search</a></h4>
                <div ng-repeat="f in searches.advancedSearch.filters" class="form-inline advanced-filter" ng-class="{first:$first}">

                    <select ng-model="f.type" ng-options="o.label for o in f.types" ng-change="extentStatus(f)">
                    </select>

                    <!-- Filter Type Select ============================================================================================ -->
                    <!-- if no extent filter exists yet -->
                    <!-- <select ng-model="f.type" ng-options="o.label for o in f.types" ng-change="extentStatus(f)" 
                        ng-if="!searches.advancedSearch.hasExtent || f.type.label == 'Bounding Box'">
                    </select> -->

                    <!--if extent filter exists, filter extent option out -->
                    <!-- <select ng-model="f.type" ng-options="o.label for o in f.types | filter:{label :'!Bounding Box'}" ng-change="searches.advancedSearch.setHasExtent()"
                        ng-if="searches.advancedSearch.hasExtent && f.type.label != 'Bounding Box'">
                    </select> -->

                    <!-- Filter Constraint Options (by type)  ============================================================================================ -->

                    <!--Title and Abstract constraint-->
                    <div ng-if="f.type.id == 'title' || f.type.id == 'abstract'" class="form-group">
                        <select ng-model="f.constraint" ng-options="o.label for o in f.constraints track by o.id"></select>
                        <input placeholder="Search term" ng-model="f.term">
                    </div>

                    <!--AnyText constraint-->
                    <div ng-if="f.type.id != 'extent' && f.type.id != 'abstract' && f.type.id != 'title'" class="form-group">
                        <input placeholder="Search term" ng-model="f.term">
                    </div>

                    <!--Extent constraints-->
                    <select ng-if="f.type.id == 'extent'" ng-model="f.extentConstraint" ng-options="o.label for o in f.extentConstraints"></select>
                    <div ng-if="f.type.id == 'extent'" class="extent-wrapper">
                        <!-- <label class="small highlight" ng-if="f.type.id == 'extent'">Hold "Shift" to select extent on map, or enter values below</label> -->
                        <div class="clear-left"></div>
                        <div class="coord-input"><label class="small">min Long</label><input type="number" ng-model="searches.advancedSearch.filters[$index].extent[0]"
                                ng-change="updateExtent(f)" id="min-long"></div>
                        <div class="coord-input"><label class="small">min Lat</label><input type="number" ng-model="searches.advancedSearch.filters[$index].extent[1]"
                                ng-change="updateExtent(f)" id="min-lat"></div>
                        <div class="coord-input"><label class="small">max Long</label><input type="number" ng-model="searches.advancedSearch.filters[$index].extent[2]"
                                ng-change="updateExtent(f)" id="max-long"></div>
                        <div class="coord-input"><label class="small">max Lat</label><input type="number" ng-model="searches.advancedSearch.filters[$index].extent[3]"
                                ng-change="updateExtent(f)" id="max-lat"></div>

                        <div class="extenty record-thumbnail pointer" ng-click="loadExtentSelector(f)">
                            <div class="extenty-box" ng-style="f.extentyStyle"></div>
                            <div class="edit-icon"><span class="glyphicon glyphicon-pencil"></span></div>
                        </div>
                        
                        <a href="#" class="" style="margin:36px 0 0 2px; display: inline-block;" ng-click="clearExtent(f)" ng-hide="searches.advancedSearch.extent.extent == getDefaultExtent()">clear</a>
                        <div class="clear-left"></div>
                    </div>

                    <!--Button to remove filters-->
                    <div class="remove-button-wrapper pointer" ng-click="searches.advancedSearch.removeFilter($index)" ng-if="searches.advancedSearch.filters.length > 1">
                        <div class="remove-button">
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                    
                </div>
                <!-- Button to add filters -->
                <div class="form-inline advanced-filter">
                    <a href="#" ng-click="searches.advancedSearch.addFilter()"><span class="glyphicon glyphicon-plus dark"></span> Add constraint</a>
                </div>

                <div style="margin-top:12px;">
                    <button class="btn btn-primary" ng-click="submitSearch('advancedSearch')">Search</button>
                    <a href="#" class="sm" style="padding: 4px 0 0 12px;" ng-click="searches.advancedSearch.clear()">Reset</a>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</section>