<div class="sidebar">
    <!-- <button class="default" ng-click="refineSearchToggle()"><span class="glyphicon glyphicon-search"></span>Refine Search</button> -->
    <button class="default" ng-click="refineSearchToggle()"><span class="icon icon-search grey icon-left"></span>Refine Search</button>

    <!-- <button class="default" ng-click="toggleExtentFilter()"><span class="glyphicon glyphicon-map-marker"></span>Filter by Location</button> -->
    <button class="default" ng-click="toggleExtentFilter()"><span class="icon icon-pin grey icon-left"></span>Filter by Location</button>

    <!-- <button class="default" ng-click="search.clear(); submitSearch();"><span class="glyphicon glyphicon-repeat"></span>Reset Search</button> -->
    <button class="default" ng-click="search.clear(); submitSearch();"><span class="icon icon-reset grey icon-left"></span>Reset Search</button>
    

    <h5>Types <span class="refine-clear link" ng-click="clearFilterType('type'); submitSearch();" ng-show="hasFilterType('type')">Clear</span></h5>
    <ul class="list-unstyled sidebar-menu">
        <li ng-repeat="t in domain.type.values" ng-click="refineSearch('type', t.id); " class="pointer" ng-class="{ 'active' : t.active }">{{t.id}}</li>
    </ul>
    <hr>



    <h5>
        <span ng-hide="showAllKeywords">Top keywords</span>
        <span ng-show="showAllKeywords">Keywords</span>
        <span class="refine-clear link" ng-click="clearFilterType('subject'); submitSearch();" ng-show="hasFilterType('subject')" alt="Clear keywords" title="Clear keywords">
            Clear
        </span>
    </h5>

    <div class="sidebar-keywords">

        <ul class="list-unstyled sidebar-menu" ng-if="!showAllKeywords">
            <li ng-repeat="k in domain.subject.values | orderBy : 'count': true | limitTo:16"
            ng-click="refineSearch('subject', k.id, true)" class="pointer" ng-class="{ 'active' : k.active }">
                {{k.id}}
                <!--<span class="count">{{k.count}}</span>-->
            </li>
        </ul>



        <ul class="list-unstyled sidebar-menu" ng-if="showAllKeywords">
            <li ng-repeat="k in domain.subject.values | orderBy : 'count': true"
            ng-click="refineSearch('subject', k.id, true)" class="pointer" ng-class="{ 'active' : k.active }">
                {{k.id}}
                <!--<span class="count">{{k.count}}</span>-->
            </li>
        </ul>

        <p>
            <span class="refine-clear link" ng-click="showAllKeywords = !showAllKeywords" ng-hide="showAllKeywords">Show all</span>
            <span class="refine-clear link" ng-click="showAllKeywords = !showAllKeywords" ng-show="showAllKeywords">Show top keywords</span>
        </p>

    </div>

</div>