<div class="row" ng-show="startScreen">
    <div class="col-md-5">
        <h1 class="page-title">CSW Client</h1>
        <hr>
        
        <p>Enter search term above to get started, or <b><a href="#" ng-click="viewAllRecords()">view all records</a></b></p>

        <p>Current CSW endpoint:<br><b><a href="{{curUrl}}"><span style="word-break: break-all;">{{curUrl}}</span></a></b></p>

        <hr>
        
    </div>
    <div class="col-md-7">
        <p><b>Subjects:</b><p>
        <div class="tagcloud">
            <span class="badge tag" ng-repeat="t in domain.type.values" ng-click="refineSearch('type', t.id)">{{t.id}}</span>
        </div>
    </div>
</div>