<div class="container full-width-content">
    <div class="row">
        <div class="col-md-5">
            <!-- <h1 class="page-title">CSW Client</h1> -->
            <div class="xl-input-container">
                <form ng-submit="welcomeScreenSearchSubmit()">
                    <input placeholder="search term" type="text" class="xl" ng-model="welcomeScreenInput"/>
                    <button class="xl-input-submit"><div class="icon icon-search"></div></button>
                    <!--<button class="xl-input-submit"><span class="glyphicon glyphicon-search"></span></button>-->
                </form>
            </div>
            <!-- <hr> -->
            
            <p>Enter search term above to get started, or <b><a href="#" ng-click="viewAllRecords()">view all records</a></b></p>

            <p>Current CSW endpoint:<br><b><a href="{{curUrl}}"><span style="word-break: break-all;">{{curUrl}}</span></a></b></p>

            <hr>
            
        </div>
        <div class="col-md-7">
            <p><b>Subjects:</b><p>
            <div class="tagcloud">
                <div ng-hide="keywordsLoaded || keywordsLoadError" style="padding: 18px">
                    <img src="assets/img/loading-grey-grey.gif" ng-hide="thumbnailLoaded" class="loading-icon"/>
                </div>
                <div class="tag-wrap" ng-repeat="k in domain.subject.values" ng-click="search.clearAll(); refineSearch('subject', k.id);" ng-show="keywordsLoaded">
                    <span class="badge tag">{{k.id}}</span>
                </div>
            </div>
        </div>
    </div>
</div>